*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62,5%;
}

body{
  background: #73A6C9;
  width: 100%;
  height: 100vh;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.logo{
  width: 80px;
  height: 80px;
}

.container{
  padding-bottom: 1.5rem;
}

.form-image{
  display: none;
}

form{
  width: 80%;
  min-height: 80vh;
  margin: 1rem auto;
  box-shadow: 5px 5px 10px #000080;
  border-radius: 5px;
  background-color: #8CAED8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 3rem;
  opacity: 0.75;
}

.input_group{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.6rem 0 0;
  margin: 0.3rem 0;
  width:100%;
}

.input-box-left, .input-box-right{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

input{
  height: 33px;
  margin:0.12rem 0;
  padding: 0.8rem 1.2rem;
  border: 1px solid #000080;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #4D4DFF;
  background-color: #dfe9f5;
}

input:focus {
  background-color: #c6e6fb;
}

.input_ckeckbox{
  width: 15px;
}

input[type=checkbox]{
 /* background-color: #dfe9f5; */
 margin: 0;
 padding: 0;
 box-shadow: 0px 0px 0px 0px;
 height: 13px;
}

.birthday_box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: -0.5rem;
  margin-bottom: 0.7rem;
}

.input_birthday{
  height: 25px;
}

fieldset{
  width: 100%;
  text-align: center;
  border: 2px solid #000080;
  padding: 0.2rem 0;
}

legend{
  background-color: #000080;
  color: #Fff;
  padding: 5px;
}

select{
  height: 35px;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  border: 1px solid #000080;
  background-color: #dfe9f5;
}

.submit-box{
  display: flex;
  justify-content: center;
}

.input-submit{
  margin-top: 0.5rem;
  padding: 0;
  text-align: center;
  width:250px;
  border-radius: 5px;
  height: 2.2rem;
  background-color: #000080;
  color: white;
}

.input-submit:hover{
  cursor: pointer;
  background-color: #77d1ef;
  color: black;
  border: 2px solid #000080;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media screen and (min-width: 1379px){
  .container{
  width: 80%;
  min-height: 80vh;
  margin: 1rem auto;
  border-radius: 5px;
  display: flex;
  }

  .form-image{
    display: block;
    width: 50%;
  }

  .form-image img{
    width: 100%;
    min-height: 80vh;
  }

  form{
    width: 50%;
    margin-top: 0;
  /*  background: #0c0ce94d;*/
  }
}

@media screen and (min-width: 845px) and (max-width: 1379px) {
  .container{
    width: 60%;
    margin: 0 auto;
  }

  form{
    width: 100%;
  }
}

@media screen and (min-width: 615px) and (max-width: 845px){
  .container{
    height: auto;
  }

  form{
    padding: 0.5rem 3rem;
  }

   .input_group:nth-child(even) {
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin; 
    scrollbar-color: #000080;
    flex-wrap: nowrap;
    max-height: 10rem;
    padding-right: 3rem;
   }

  .input_group::-webkit-scrollbar {
    width: 12px;
  }

  .input_group::-webkit-scrollbar-track {
    background: #dfe9f5;
  }
  
  .input_group::-webkit-scrollbar-thumb {
    background-color: #000080; 
    border-radius: 10px;
    border: 2px solid #dfe9f5;
  }
  
}
  
  @media screen and (max-width: 615px) {

    h2{
      margin-bottom: 0.8rem;
    }

  input{
    height: 28px;
    padding: 0.4rem 0.5rem;
    max-width: 85%;
  }

  select{
    height: 28px;
    padding: 0;
    margin-top: 0.17rem;
    max-width: 85%;
  }

  .input_group{
  flex-direction: column;
  flex-wrap: nowrap;
  max-height: 8rem;
  }
  
  .input_group{
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #000080;
  }
  
  .input_group::-webkit-scrollbar {
  width: 12px;
  }
  
  .input_group::-webkit-scrollbar-track {
  background: #dfe9f5;
  }
  
  .input_group::-webkit-scrollbar-thumb {
  background-color: #000080;
  border-radius: 10px;
  border: 2px solid #dfe9f5;
  }
  
  }
  
  @media screen and (max-width: 466px) {
  h2{
  font-size: 1.4rem;
  }
  
  .input_group{
  padding-right: 0.5rem;
  max-height: 10rem;
  }
  
  .input_group{
  padding-right: 0.5rem;
  max-height: 8.5rem;
  }
  
  fieldset{
  display: none;
  }
  
  label{
  font-size: 12px;
  }

  .input-submit{
    margin-top: 0.8rem;
  }
  }
  
  @media screen and (max-width: 433px) {
  h2{
  font-size: 1.1rem;
  margin-bottom: 1.6rem;
  }
  
  .input_group:nth-child(even){
  padding-right: 0.5rem;
  max-height: 10rem;
  }
  
  .birthday_box {
  display: none;
  }
  
  .input-submit {
  width: 180px;
  }
  
  }
  
  @media screen and (max-width: 365px) {
  .logo {
  width: 60px;
  height: 60px;
  }
  h1{
  font-size: 1.6rem;
  }
  
  form {
  min-height: 70vh;
  padding: 0rem 1.75rem;
  }
  h2{
  font-size: 0.9rem;
  }
  }
